VITE_API_FIREBASE_API_KEY=AIzaSyCinfDE0qur3-uQwxtJWgIMIqvMFNYqUqo
VITE_API_FIREBASE_AUTH_DOMAIN=transaction-app-baed2.firebaseapp.com
VITE_API_FIREBASE_PROJECT_ID=transaction-app-baed2
VITE_API_FIREBASE_STORAGE_BUCKET=transaction-app-baed2.appspot.com
VITE_API_FIREBASE_MESSAGING_SENDER_ID=305278530285
VITE_API_FIREBASE_FIREBASE_APP_ID=1:305278530285:web:c104ae74cf6f8da306d2e4